.light {
  --background-color: #fff;
  --color:#181818;
  --image: #f6f4f4;
  --logo: #b1b1b1;
}
.dark {
  --background-color: #181818;
  --color:#fff;
  --image: #313131;
  --logo: #4e4e4e;
}


.content__playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  background-color: var(--background-color)
}
.playlist__item {
    width: 100%;
    display: block;
    margin-bottom: 12px;
    background-color: var(--background-color)
  }
  
  .playlist__track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            background-color: var(--background-color)
  }
  
  .track__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 447px;
    background-color: var(--background-color)
  }
  
  .track__title_image {
    width: 51px;
    height: 51px;
    padding: 16px;
    background: var(--image);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 17px;
  }
  
  .track__title_svg {
    width: 20px;
    height: 19px;
    fill: transparent;
    stroke: var(--logo);

  }
  
  .track__title_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color);
    background-color: var(--background-color)
  }
  
  .track__title_span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--logo);
    background-color: var(--background-color)
  }
  
  .track__author {
    width: 321px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
            background-color: var(--background-color)
  }
  
  .track__author_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color);
    text-align: left;
    background-color: var(--background-color)
  }
  
  .track__album {
    width: 245px;
    background-color: var(--background-color)
  }
  
  .track__album_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #696969;
    background-color: var(--background-color)
  }
  
  .track__time_svg {
    width: 16px;
    height: 14px;
    margin-right: 17px;
    fill: transparent;
    stroke: #696969;
    background-color: var(--background-color)
  }
  
  .track__time_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #696969;
    background-color: var(--background-color)
  } 