.light {
  --background-color: #fff;
  --color:#181818;
  --image: #f6f4f4;
  --logo: #b1b1b1;
  --other: #4E4E4E;
}
.dark {
  --background-color: #181818;
  --color:#fff;
  --image: #313131;
  --logo: #4e4e4e;
  --other: #fff;
}
.bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(28, 28, 28, 0.5);
  }
  
  .bar__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .bar__player_progress {
    width: 100%;
    height: 5px;
    background:var(--image);

  }
  
  .bar__player_block {
    height: 73px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            background-color: var(--background-color);
  }
  
  .bar__player {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: var(--background-color);
  }
  
  .bar__volume_block {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 92px 0 0;
    background-color: var(--background-color);
    color: ver(--color);
  }
  
  .player__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 27px 0 31px;
    background-color: var(--background-color);
  }
  
  .player__btn_prev, .player__btn_play, .player__btn_next, .player__btn_repeat, .player__btn_shuffle {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            cursor: pointer;
  }
  
  .player__btn_prev {
    margin-right: 23px;
  }
  
  .player__btn_prev_svg {
    width: 15px;
    height: 14px;
  }
  
  .player__btn_play {
    margin-right: 23px;
    cursor: pointer;
    color: #fff;
  }
  
  .player__btn_play_svg {
    width: 22px;
    height: 20px;
    fill: #D9D9D9;
    
  }
  
  .player__btn_next {
    margin-right: 28px;
    fill: #a53939;
  }
  
  .player__btn_next_svg {
    width: 15px;
    height: 14px;
    fill: inherit;
    stroke: #D9D9D9;
    color:var(--image);
  }
  
  .player__btn_repeat {
    margin-right: 24px;
  }
  
  .player__btn_repeat_svg {
    width: 18px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
  }
  
  .player__btn_shuffle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .player__btn_shuffle_svg {
    width: 19px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
  }
  
  .player__track_play {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .track__play_contain {
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
        grid-template-areas: "image author" "image album";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .track__play_image {
    width: 51px;
    height: 51px;
    background-color: #313131;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 12px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: image;
    background-color: var(--image);
  }
  
  .track__play_svg {
    width: 18px;
    height: 22px;
    fill: var(--other);
    stroke: #4E4E4E;
  }
  .track__note_svg {
    width: 18px;
    height: 17px;
    fill: transparent;
    stroke: #4E4E4E;
  }
  .track__other_svg {
    width: 18px;
    height: 17px;
    fill: var(--other);
    stroke: #4E4E4E;
  }
  .track__volume_svg {
    width: 18px;
    height: 17px;
    fill: transparent;
    stroke: var(--color)
  }
  
  
  .track__play_author {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: author;
    min-width: 49px;
    color: var(--color);
  }
  
  .track__play_author_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    white-space: nowrap;
    color: var(--color);
  }
  
  .track__play_album {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: album;
    min-width: 49px;
    color: var(--color);
  }
  
  .track__play_album_link {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: var(--color);
  }
  
  .track__play_like_dis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 26%;
  }
  
  .track__play_like, .track__play_dislike {
    padding: 5px;
  }
  
  .track__play_like_svg {
    width: 14px;
    height: 12px;
    fill: transparent;
    stroke: #696969;

  }
  
  .track__play_dislike {
    margin-left: 28.5px;
  }
  
  .track__play_dislike_svg {
    width: 14.34px;
    height: 13px;
    fill: transparent;
    stroke: #696969;
  }
  
  .volume__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  
  .volume__image {
    width: 13px;
    height: 18px;
    margin-right: 17px;
  }
  
  .volume__svg {
    width: 13px;
    height: 18px;
    fill: transparent;
  }
  
  .volume__progress {
    width: 109px;
  }
  
  .volume__progress_line {
    width: 109px;
    color: red;
    background-color: red;
  }
  .bar__progress_line{
    width: 100%;
  }
  
._btn__text:hover {
  border-color: #D9B6FF;
  color: #D9B6FF;
  cursor: pointer;
}

._btn__icon:hover svg {
  fill: transparent;
  stroke: #ACACAC;
  cursor: pointer;
}

._btn__text:active {
  border-color: #AD61FF;
  color: #AD61FF;
  cursor: pointer;
}

._btn__icon:active svg {
  fill: transparent;
  stroke: #FFFFFF;
  cursor: pointer;
}

._btn__icon:active .track-play__like-svg,
._btn__icon:active .track-play__dislike-svg {
  fill: #696969;
  stroke: #FFFFFF;
  cursor: pointer;
}
.fake__player {
  display: none;
}
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
input[type=range].volume__progress_line::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 3px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border-color: var(--color);
  background: var(--background-color);
  cursor: pointer;
  margin-top: -8px; 

}
input[type=range].volume__progress_line::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--color);
  border-radius: 1.3px;
  margin-top: -12px;
  border: 0.2px solid #010101;
}
input[type=range].bar__progress_line::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 3px solid #000000;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  border-color: var(--color);
  background: var(--background-color);
  cursor: pointer;
  margin-top: -10px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */

}
input[type=range].bar__progress_line::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--color);
  border-radius: 1.3px;
  margin-top: -12px;
  border: 0.2px solid #010101;
}