.sidebar__img-skeleton {
    width: 250px;
    height: 150px;
    background-color: #313131;
}
.sidebar__avatar-skeleton {
    width: 43px;
    height: 43px;
    background-color:  #181818;
    border-radius: 50%;
}